/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #c3c3c3;
  --color-dark-gray: #7f7f7f;
  --color-blue: #0D6EFD;
  --color-navy: #001e8d;
  --color-black: #000000;

  /* Font size */
  --font-large: 78px;
  --font-largemedium: 40px;
  --font-medium: 28px;
  --font-regular: 20px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weigth */
  --wight-bold: 500;
  --wight-semi-bold: 400;
  --wight-regular-bold: 200;

  /* Size */
  --size-border-radius: 4px;

  /*Annimation*/
  --animation-duration: 300ms;
}

/*Universal tags*/
* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  cursor: default;
}
a {
  text-decoration: none;

}

ul {
  padding-left: 0;
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/*Typography*/
h1 {
  font-size: var(--font-large);
  font-weight: var(--wight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--wight-semi-bold);
  color: var(--color-black);
  margin: 8px 0px;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--wight-regular-bold);
  color: var(--color-black);
  margin: 8px 0px;
}

h4{
  font-size: var(--font-largemedium);
  font-weight: var(--wight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

p {
  font-size: var(--font-small);
  font-weight: var(--wight-regular-bold);
  color: var(--color-black);
  margin: 4px 0px;
}

/*Navbar*/
#navbar {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
  background-color: var(--color-white);
}

/*Home*/
#home {
  /*background: url("imgs/background/3.png") center/cover no-repeat;*/
  padding: 40px;
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: center;
}

.map__btn{
  width: 50px;
  height: 50px;
}


/*search*/
#search{
  display: flex;
  justify-content: center;
}

.search__container{
  display: flex;
  height: 40px;
  width: 105%;
  position: relative;
  border-radius: 40px;
  border: 1px solid var(--color-dark-white);
  padding: 3px 12px;
}

#input{
  border: none;
  position: relative;
  width: 100%;
  height: 100%;
  outline: none;
}

.search__icon{
  background-size: 21px 21px;
  position: absolute;
  border: none;
  border-radius: 2px; 
  cursor: pointer;
  height: 100%;
}

.text__search__btn, .img__search__btn{
  display: inline-block;
  font-size: small;
  color: var(--color-blue);
  background-color: var(--color-white);
  padding: 6px 8px;
  
}

.search_box {
  display: none;
  position: absolute;
  width: 100px;
  padding: 8px;
  left: 195px;
  top: 55px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: #333;
  color: #fff;
  font-size: 14px;
}

.search_box:after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border: solid transparent;
  border-color: rgba(51, 51, 51, 0);
  border-bottom-color: #333;
  border-width: 10px;
  pointer-events: none;
  content: ' ';
}

.img__search__btn:hover + .search_box {
  display: block;
}

/*slide*/
.slide__container{
  display: flex;
  justify-content: center;
  padding-top: 18px;
}

.slidesize{
  width: 500px;
  height: 300px;
}

.nerf{
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

/*map.css*/
/*
#map{
  width:100%;
  height:100vh;
}*/

#map_navbar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: var(--color-blue);
  padding: 12px;
  background-color: var(--color-light-white);
}
#map__container{
  padding: 20px;
}

#map{
  width: 100%;
  height: 700px;
}

.back__icon {
  font-size: 24px;
  color: var(--color-black);
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  :root {
  /* Font size */
    --font-large: 30px;
    --font-largemedium: 40px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 12px;
    --font-micro: 12px;
  }
  .map__btn{
    width: 30px;
    height: 30px;
  }
  #search{
    padding: 30px;
  }

  #slideShow{
    display: flex;
    justify-content: center;
  }

  .slidesize{
    width: 400px;
    height: 250px;
  }
  /*map.html*/
  #map{
    width: 300px;
    height: 400px;
    margin: 0 auto;
  }
}
